
#calculatorBody{
    display: block;
    padding: 20px;
    margin: 70px auto;
    width: 450px;
    height: 600px;
    background: #302f2d;
    border-radius: 5%;
    box-shadow: 5px 5px 10px #070606;
}

#calculatorHeader{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     margin: 20px 0;
 }

#calculatorName{
    margin: 0 0;
    text-align: center;
}

#screen{
    display: block;
    margin: 40px auto;
    height: 60px;
    width: 400px;
    background: #e2faec;
    font-size: 34px;
    border-radius: 5%;
}

#operators{
    width: 100px;
    float: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:0px 20px;
}

#numbers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 10px;
    width: 300px;
    height: 350px;
    justify-content: space-around;
}


.btn-num{
    width: 70px;
    height: 70px;
    clear: right;
    margin: 3px;
    font-weight: bold;
    font-size: 30px;
    border: #beefe0 5px solid;
    border-radius: 20%;
    background: #d9d9db;
    box-shadow: 5px 5px #070606;
}

#zero{
    width: 165px;
    border-radius: 7%;
}


#reset,#powerOff{
    margin: 0px 20px;
    clear: both;
    float: left;
    box-shadow: 5px 5px #070606;
}


.btn{
    font-size: 30px;
    margin: 4px auto;
    width: 70px;
    height: 60px;
    border: #beefe0 5px solid;
    border-radius: 20%;
    background: #d9d9db;
    box-shadow: 5px 5px #070606;
}

.btn-num:hover,.btn:hover{

    background: #f1f1f1;

}

